body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  margin: 0px;
  margin-top: 0px;
}

.container1 {
  background-image: url("Capture2.png");
  background-color: rgb(255, 0, 0, 0.8);
  height: fit-content;
  background-size: cover;
  color: white;
}

.container1 .header {
  display: flex;
  justify-content: flex-end;
  margin: 50px;
}

.container1 .vidéo {
  background-image: url("Capture2.png");
  height: fit-content;
  background-size: auto 100%;
  width: 412px;
  height: 269px;
  background-color: red;
  border-radius: 43px;
  margin-bottom: 15px;
  position: relative;
}



.container1 .video-button {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

button1 {
    z-index: 9;
    position: absolute;
    border: solid 50px;
    color: #5037bf;
    border-radius: 150px;
    top: 246px;
}

button2 {
  padding: 25px;
  border-radius: 31px;
  background-color: 5037bf;
  border: 0px;
  font-weight:normal;
  font-size: larger;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 50px;
  z-index: -1;
  height: 450px;
}

.text-video {
  text-align: right;
  vertical-align: middle;
  padding-top: 100px;
  font-weight: bold;
  font-size: x-large;
}

.box h2 {
  font-size: 22px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  background-color: white;
  text-align: center;
  position: relative;
  border-radius: 50px;
  top: 32px;
  font-weight: normal;
}

.pricedescription {
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
}

.pricedescription h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

container .box {
  display: flex;
  flex-direction: column;
}

container .big {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-evenly;
  top: -85px;
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,0) 2%, rgba(80,55,191,1) 12%, rgba(80,55,191,1) 91%, rgba(0,212,255,0) 100%);
  padding-bottom: 65px
}
